{% extends 'base.html.twig' %}

{% block title %}APIController!{% endblock %}

{% block body %}

    <div class="form-group form-search div-header-form">
        {{ form_start(formApi, {'attr': {'class' : 'form-header'}} ) }}
        <div class="form-header">
            {{ form_row(formApi.q, {'attr': {'class' : 'form-header-text', 'placeholder' : 'Rechercher'}}) }}<br>
        </div>
        <div class="form-header">
            {{ form_row(formApi.category, {'attr': {'class' : 'form-header-category'}}) }}<br>
        </div>
        <div class="form-header">
            {{ form_row(formApi.submit, {'label' : '🔍', 'attr': {'class' : 'form-header-submit'}}) }}<br>
        </div>
        {{ form_end(formApi) }}
    </div>
{% endblock %}
