{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation d'un post</h1>
    <div class="form-group">
        {{ form_start(formPostCreator) }}
    </div>

    <div class="form-group">
        {{ form_row(formPostCreator.title, {'label' : 'Titre', 'attr': {'class' : 'form-control'}} ) }}
    </div>

    <div class="form-group">
        {{ form_row(formPostCreator.description, {'label' : 'Description', 'attr': {'class' : 'form-control'}} ) }}
    </div>

    <div class="form-group">
        {{ form_row(formPostCreator.category, {'label' : 'Catégories', 'attr': {'class' : 'form-control'}} ) }}
    </div>

    <div class="form-group">
    {{ form_row(formPostCreator.download_link, {'label' : 'Lien de téléchargement', 'attr': {'class' : 'form-control'}} ) }}
    </div>

    <button type="submit" class="btn btn-success">Publier </button>
    {{ form_end(formPostCreator) }}
{% endblock %}