{% extends 'base.html.twig' %}

{% block title %}Bonjour !{% endblock %}

{% block body %}
    <h1>Le Bon Steam</h1>
    {% if not app.user %}
    <a href="{{ path('security_login') }}">Se connecter</a>
    {% else %}
    <a href="{{ path('security_logout') }}">Se deconnecter</a>
        <a href="{{ path('profile', {'id': app.user.id }) }}">Mon Espace Personnel</a>
        <a href="{{ path('new_post') }}">Nouveau Post</a>
    {% endif %}

        <h2>POSTS</h2>
        <section class="posts">
            {% for post in posts | reverse %}
                <div class="post">
                    <a href="{{ path('show_post', {id: post.id}) }}">
                        <h3>{{ post.title }}</h3>
                        <div class="author">
                            <p>Par {{ post.user.username }}</p>
                        </div>
                        <div class="metadata">
                            <p>Publié le {{ post.dateCreation | date('d/m/y') }} à {{ post.DateCreation | date('H:i') }}</p>
                        </div>
                        <div class="category">
                            <a href="#">{{ post.category }}</a>
                        </div>
                        {% if app.user == post.user %}
                            <div class="edit-post">
                                <a href="{{ path('edit_post', {id: post.id }) }}">Editer</a>
                            </div>
                        {% endif %}
                        <div class="description">
                            {{ post.description | raw }}
                            <a href="#" class="btn btn-primary">Go</a>
                        </div>
                        <div class="download-link">
                            <a href="{{ path( 'post_download', {'id': post.id } ) }}" class="btn btn-link js-download">
                                {% if app.user and post.isDownloadedByUser(app.user) %}
                                    <i class="fas fa-chevron-circle-down"></i>
                                {% else %}
                                    <i class="far fa-arrow-alt-circle-down"></i>
                                {% endif %}
                                <span class="js-download">{{ post.downloadCounter | length }}</span>
                                <span class="js-label">Download</span>
                            </a>

                        </div>

                        <div class="image">
                            {% if post.filename %}
                                <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('my_thumb') }}" alt="image du jeu">
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        function onClickBtnDownload(event) {
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-download');
            const icon = this.querySelector('i');

            axios.get(url).then(function (response){

                spanCount.textContent = response.data.download;
                window.open( response.data.link, "_blank");

                
                if (icon.classList.contains('far')) {
                    icon.classList.replace('far', 'fas', );
                    icon.classList.replace('fa-arrow-alt-circle-down', 'fa-chevron-circle-down');
                }

            }).catch(function (error){
                if(error.response.status === 401)
                {
                    window.alert("Vous devez être connecté pour pouvoir faire cette opération.");
                }
            })
        }

        document.querySelectorAll('a.js-download').forEach(function (link){
            link.addEventListener('click', onClickBtnDownload)
        })
    </script>
{% endblock %}