{% extends 'base.html.twig' %}

{% block title %}Bonjour !{% endblock %}

{% block header %}
    {% include '_header.html.twig' with {form: form} only %}
{% endblock %}
{% block body %}
    <h1>Le Bon Steam</h1>
    {% if not app.user %}
    <a href="{{ path('security_login') }}">Se connecter</a>
    {% else %}
    <a href="{{ path('security_logout') }}">Se deconnecter</a>
        <a href="{{ path('profile', {'id': app.user.id }) }}">Mon Espace Personnel</a>
        <a href="{{ path('new_post') }}">Nouveau Post</a>
    {% endif %}
        <div class="group">
            <div class="navbarre">
                <div class="nav-element">
                    <a  href="{{ path("home") }}"><i class="fas fa-home"></i>Accueil</a>
                </div>
                <div class="nav-element">
                    <a href="#"><i class="fas fa-clone"></i>Catégories</a>
                </div>
                <div class="nav-element">
                    <a href="#"><i class="fas fa-save"></i>Téléchargements</a>
                </div>
                <div class="nav-element">
                    <a href="{{ path("new_post") }}"><i class="fas fa-pen-square"></i>Nouveau Jeu</a>
                </div>
                {% if app.user %}
                <div class="nav-element">
                    <a href="{{ path('profile', {'id': app.user.id }) }}"><i class="fas fa-user"></i>Mon Profil</a>
                </div>
                {% endif %}
            </div>

            <div class="posts">
                {% for post in posts | reverse %}
                    <div>
                            <a class="a_post" href="{{ path('show_post', {id: post.id }) }}">😄😄😄😄😄</a>
                            <div class="post">
                                <div class="image">
                                    {% if post.filename %}
                                        <img src="{{ vich_uploader_asset(post, 'imageFile') | imagine_filter('my_thumb') }}" alt="image du jeu">
                                    {% else %}
                                        <img src="{{ '/images/posts/placeholder.jpg'| imagine_filter('my_thumb') }}" alt="image du jeu">
                                    {% endif %}
                                </div>
                                <div class="post-info-home">
                                    <p>{{ post.title }}</p>
                                    <div class="category">
                                        <a href="#">{{ post.category }}</a>
                                    </div>
                                    <div class="description">
                                        {{ post.description | raw }}
                                    </div>
                                    <div class="author">
                                        <p>Par {{ post.user.username }}</p>
                                    </div>

                                    <div class="download-link">
                                        <a href="{{ path( 'post_download', {'id': post.id } ) }}" class="btn btn-link js-download">
                                            <span class="js-download">{{ post.downloadCounter | length }}</span>
                                            {% if app.user and post.isDownloadedByUser(app.user) %}
                                                <i class="fas fa-chevron-circle-down"></i>
                                            {% else %}
                                                <i class="far fa-arrow-alt-circle-down"></i>
                                            {% endif %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                    </div>

                {% endfor %}
            </div>

            <div class="menu-droite">

            </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>

        function onClickBtnDownload(event) {
            event.preventDefault();

            const url = this.href;
            const spanCount = this.querySelector('span.js-download');
            const icon = this.querySelector('i');

            axios.get(url).then(function (response){

                spanCount.textContent = response.data.download;
                window.open( response.data.link, "_blank");

                
                if (icon.classList.contains('far')) {
                    icon.classList.replace('far', 'fas', );
                    icon.classList.replace('fa-arrow-alt-circle-down', 'fa-chevron-circle-down');
                }

            }).catch(function (error){
                if(error.response.status === 401)
                {
                    window.alert("Vous devez être connecté pour pouvoir faire cette opération.");
                }
            })
        }

        document.querySelectorAll('a.js-download').forEach(function (link){
            link.addEventListener('click', onClickBtnDownload)
        })
    </script>
{% endblock %}